<h1 class= 'text-center' mt-4> Listing all orders </h1>

<div class="flickr_pagination mb-4 ">
    <%= will_paginate @orders, :container => false %>
</div>
<%= render 'orders/order' %>
<div class="flickr_pagination mb-4 ">
    <%= will_paginate @orders, :container => false %>
</div>
<%= render 'layouts/footer' %>
