<body class="d-flex flex-column">
  <div id= 'page-content'>
    <div class="container", id='home-container'>
      <div class="jumbotron, text-center", data-turbolinks-eval=false>
        <h1 class="display-4">Dinner Dash</h1>
        <p class="lead">One of the best campuses with well maintained restuarants and bars. Students are well groomed and with good discipline.</p>
        <hr class="my-4">
        <p>I cordially invite you to visit our college & talk to the staff. You can see the world class infrastructure & facilities that are provided. I am sure you will like the experience.</p>
        <p class="lead">
          <a><%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %></a>
        </p>
      </div>
    </div>
  </div>
</body>

