<h1 class= 'text-center' mt-4> Listing all Recipes </h1>

<div class="flickr_pagination mb-4 ">
    <%= will_paginate @items, :container => false %>
</div>
<%= render 'items/item' %>
<div class="flickr_pagination mb-4 ">
    <%= will_paginate @items, :container => false %>
</div>
<%= render 'layouts/footer' %>
